body {
    background-image: url("https://th.bing.com/th/id/OIP.uApf9ONyi3WHq-RNg324PgHaHa?w=794&h=794&rs=1&pid=ImgDetMain");
    background-size: cover;
    font-family: 'Arial', sans-serif; 
}

p {
    color: #333; 
    font-size: 18px;
    line-height: 1.6; 
    margin: 20px; 
    padding: 10px; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease; 
}

p:hover {
    background-color: rgba(255, 255, 255, 1); 
    transform: scale(1.05); 
}
h1 {
    color: #fff; 
    font-size: 36px; 
    margin: 20px 0;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1:hover {
    color: #ff5733; 
    transform: rotate(5deg);
}
